#page-container {
  position: relative;
  min-height: 100%;
}
#content-wrap {
padding-bottom: 30px;
}
#table{
  margin-top: 150px;
  border: solid black 2px;
  background-color: white;
  color: black;
  width:70%;
}
#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
}
#golf{
  padding-top: 10px;
  padding-left: 160px;
  width: 700px;
  height: 520px;
}
#btns{
  padding-left: 225px;
}
.card-deck{
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 40px;
  color: black;
}
.card{
  background-color: lightgray;
}
.container{
margin-right: 100px;
padding-top: 10px;
}
.display-4{
  text-align: center;
  padding-bottom: 15px;
}
.jumbotron{
  display: grid;
  width:90%;
  margin-top: 10px;
  background-color: lightgray;
  height: 100%;
  color:black;
  margin-right: 10px;
  }
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-github{
  background: white;
  border-radius: 50%;
}
.fa-facebook{
  width: 65px;
  background: #3b579d;
  color: white;
  border-radius: 50%;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 50%;
}
.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50%;
}
.list-group{
  padding-top: 120px;
  padding-right: 100px;
}
.list-group-item{
  text-align: center;
  color: black;
  background-color: lightgray;
}
p{
  font-size: 18px;
  padding-bottom: 30px;
}
img{
  height:250px;
  width: 200px;
}
body{
  color: white;
  background-color: black;
}
ul{
  list-style-type: square;
}
a{
  color: white;
  text-align: left;
  text-decoration: none;
}
